 {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #ff0000, #0000ff);
}
.label {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #ff0000, #0000ff);
}


.border-pane{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #ff1111, #1111ff);
}

.button {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #ff0000, #0000ff);
}
